<a href="https://colab.research.google.com/github/yusungQ/python/blob/main/%EC%A0%95%EA%B7%9C%ED%91%9C%ED%98%84%EC%8B%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 정규표현식
* Anchors
    '''
    /^hello/gm : 처음에 hello
    /hello$/gm : 끝에 hello
    '''
* dot (모든 문자)
    '''
    /.ello/gm : hello, Hello, vello
    /./gm : 모든 문자열(*과 같은 역할)
    /....../gm : 모든 6개의 문자열
    '''

* 대괄호 (택1)
    '''
    /h[he}llo/gm : 대괄호 안에 문자는 문자1개에 해당!
    /h[ea]l../gm : 총 5개의 문자
    '''

* 범위
    '''
    /h[a-f]llo/gm
    /[^a-zA-Z0-9] : 모든 알파벳과 숫자를 찾음   
    /[^a-zA-Z0-9] : 나머지 문자열을 찾음
    '''

* 캐럿(caret) (대괄호 안에 들어가면 부정)
    * 아래 경우 a와 e가 모두 부정
    '''
    /h[^ae]llo/gm : 그룹 1로 3개 중 매칭되는 패턴 찾음
    '''

* 수령자

In [ ]:
import re

p = re.compile(r'([0-9]|10)([SDT])([\*\#]?)')
p.findall('1S2D*3T')

[('1', 'S', ''), ('2', 'D', '*'), ('3', 'T', '')]

## compile

In [ ]:
import re

p = re.compile('h[eao]llo')

In [ ]:
text = '''hello
hallo
hollo
'''

text

'hello\nhallo\nhollo\n'

## match

In [ ]:
import re

p = re.compile('h[eao]llo')
p.match('hello hallo hollo')

In [ ]:
result = p.match('hello hallo hollo')
result.group()

'hello'

In [ ]:
import re

p = re.compile('(\w+) (\w+) (\w+)')
result = p.match('hello hallo hollo hillo hallo')
result.group(1, 2) # 그룹1, 그룹2

In [ ]:
import re

p = re.compile('h[eao]llo')
p.match('hello hallo hollo hillo')

In [ ]:
m = re.match(r"(?P<first_name>\w+) (?P<last_name>\w+)", "Malcolm Reynolds")
m.group('first_name'), m.group('last_name')

('Malcolm', 'Reynolds')

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120849

def solution(my_string):
    return my_string.replace('a', '').replace('e', '').replace('i', '').replace('o', '').replace('u', '')

In [ ]:
def solution(my_string):
    string = 'aeiou'
    for i in string:
        my_string = my_string.replace(i, '')
    return my_string

In [ ]:
    return re.sub(r"[aeiou]", "", my_string)

In [ ]:
#https://school.programmers.co.kr/learn/courses/30/lessons/120826

In [ ]:
def solution(my_string, letter):
    for i in letter:
        my_string = my_string.replace(i, '')
    return my_string

In [ ]:
import re

def solution(my_string, letter):
    return re.sub(letter, "", my_string)

In [ ]:
import re

solution = lambda my_string,lettr:re.sub(letter,"",my_string)

In [ ]:
#https://school.programmers.co.kr/learn/courses/30/lessons/120851

In [ ]:
def solution(my_string):
    s = 0
    for i in my_string:
        if i.isdigit():
            s += int(i)
    return s

In [ ]:
def solution(my_string):
    return sum([int(i) for i in my_string if i.isdigit()])

In [ ]:
def solution(my_string):
    return sum(map(int, filter(lambda x:x.isdigit(), my_string)))

In [ ]:
import re

my_string = "aAb1B2cC34oOp"
re.sub('[a-zA-Z]', '', my_string)

'1234'

In [ ]:
import re

my_string = "aAb1B2cC34oOp"
re.sub('[^1-9]', '', my_string)

'1234'

In [ ]:
import re

def solution(my_string):
    return sum([int(i) for i in re.sub('[^1-9]', '', my_string) if i.isdigit()])

solution('aAb1B2cC34oOp')

10

In [ ]:
import re

def solution(my_string):
    return sum([int(i) for i in re.sub('[^1-9]', '', my_string)])

solution("aAb1B2cC34oOp")

In [ ]:
import re

def solution(my_string):
    return sum(int(i) for i in re.sub('[^1-9]', '', my_string))

## sub의 실무 응용(중고급 강좌)

In [ ]:
import re

re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})',
       r'\1---\2---\3',
       '010-5000-3000')

'010---5000---3000'

In [ ]:
# 문제
# 입력 : '2023/05/16'
# 출력1 : '05/16/2023'
# 출력2 : '16/05/2023'
import re

s1 = re.sub(r'([0-9]{4})/([0-9]{2})/([0-9]{2})',
       r'\2/\3/\1',
       '2023/05/16')
s2 = re.sub(r'([0-9]{4})/([0-9]{2})/([0-9]{2})',
       r'\3/\2/\1',
       '2023/05/16')
s1,s2

('05/16/2023', '16/05/2023')

In [ ]:
import re

re.sub(r'(?P<year>[0-9]{4})/(?P<month>[0-9]{2})/(?P<day>[0-9]{2})',
       r'\3/\2/\1',
       '2023/05/16')

'16/05/2023'

In [ ]:
import re

re.sub(r'(?P<year>[0-9]{4})/(?P<month>[0-9]{2})/(?P<day>[0-9]{2})',
       r'\g<year>/\g<day>/\g<day>',
       '2023/05/16')

'2023/16/16'

In [ ]:
# md -> html
# '# hello world' -> '<h1>hello world</h1>'
import re

re.sub(r'# (.*)',
       r'<h1>hello world</h1>',
       '# hello world')

'<h1>hello world</h1>'

In [ ]:
import re

text = '''# helle1
hello world
# hello2
hello world
# hello3
hello world
'''

text = re.sub(r'# (.*)',
       r'<h1>hello world</h1>',
        text)

In [ ]:
# md -> html 파일로
# '# hello world' => '<h1>hello world</h1>'
import re

text='''# hello1
## hello1.1
hello world
# hello2
## hello2.1
hello world
# hello3
## hello3.1
hello world
'''

text = re.sub(r'# (.*)', r'<h1>\1</h1>', text)
text
print(text)

<h1>hello1</h1>
#<h1>hello1.1</h1>
hello world
<h1>hello2</h1>
#<h1>hello2.1</h1>
hello world
<h1>hello3</h1>
#<h1>hello3.1</h1>
hello world

In [ ]:
import re

text='''# hello1
## hello1.1
hello world
# hello2
## hello2.1
hello world
# hello3
## hello3.1
hello world
'''

text = re.sub(r'## (.*)', r'<h2>\1</h2>', text)
text = re.sub(r'# (.*)', r'<h1>\1</h1>', text)
text
print(text)

<h1>hello1</h1>
<h2>hello1.1</h2>
hello world
<h1>hello2</h1>
<h2>hello2.1</h2>
hello world
<h1>hello3</h1>
<h2>hello3.1</h2>
hello world

In [ ]:
import re

text='''# hello1
## hello1.1
hello world
# hello2
## hello2.1
hello world
# hello3
## hello3.1
hello world
'''

# p = re.compile('^# (.*)', re.MULTILINE)
# text = p.sub(r'<h1>\1</h1>', text)
text = re.sub(r'^# (.*)', r'<h1>\1</h1>', text, flags=re.M)
text = re.sub(r'^## (.*)', r'<h2>\1</h2>', text, flags=re.M)
print(text)

<h1>hello1</h1>
<h2>hello1.1</h2>
hello world
<h1>hello2</h1>
<h2>hello2.1</h2>
hello world
<h1>hello3</h1>
<h2>hello3.1</h2>
hello world

In [ ]:
import re

def markdown_to_html(markdown):
    html = re.sub(r'### (.*)', r'<h3>\1</h3>', markdown)
    html = re.sub(r'## (.*)', r'<h2>\1</h2>', html)
    html = re.sub(r'# (.*)', r'<h1>\1</h1>', html)
    return html

In [ ]:
import re

text = '''# This is a h1
## This is a h2
### This is a h3
#### This is a h4
##### This is a h5
###### This is a h6

* This is a bulleted list
  * This is a nested bulleted list

**This is bold text**

_This is italic text_

~~This text is strikethrough~~
'''

def markdown_to_html(markdown):
    html = re.sub(r'### (.*)', r'<h3>\1</h3>', markdown)
    html = re.sub(r'## (.*)', r'<h2>\1</h2>', html)
    html = re.sub(r'# (.*)', r'<h1>\1</h1>', html)
    html = re.sub(r'`(.*)`', r'<pre><code>\1</code></pre>', html)
    html = re.sub(r'\*\*(.*)\*\*', r'<strong>\1</strong>', html)
    html = re.sub(r'_(.*)_', r'<em>\1</em>', html)
    html = re.sub(r'~~(.*)~~', r'<del>\1</del>', html)
    html = re.sub(r'^(>+) (.*)', r'<blockquote>\1\2</blockquote>', html)
    # html = re.sub(r'^\* (.*)', r'<ul><li>\1</li></ul>', html, flags=re.M+re.S)
    return html

print(markdown_to_html(text))

<h1>This is a h1</h1>
<h2>This is a h2</h2>
<h3>This is a h3</h3>
#<h3>This is a h4</h3>
##<h3>This is a h5</h3>
###<h3>This is a h6</h3>

* This is a bulleted list
  * This is a nested bulleted list

<strong>This is bold text</strong>

<em>This is italic text</em>

<del>This text is strikethrough</del>

## search

In [ ]:
p = re.compile('[a-o]')
m = p.search('python')
print(m)

<re.Match object; span=(3, 4), match='h'>

## findall

In [ ]:
p = re.compile('[a-z]+')
result = p.findall('Python')
print(result)

['ython']

In [ ]:
p = re.compile('[a-z]*')
result = p.findall('Life is Short, You Need Python!')
print(result)

['', 'ife', '', 'is', '', '', 'hort', '', '', '', 'ou', '', '', 'eed', '', '', 'ython', '', '']

In [ ]:
p = re.compile('[0-9]+')
result = p.findall('010-4504-3842')
print(result)

['010', '4504', '3842']

In [ ]:
# 1
# p = re.compile(r'([0-9]|10)([SDT])([\*\#]?)')
# p.findall('1S2D*3T')

# 2
re.findall(r'([0-9]|10)([SDT])([\*\#]?)', '1S2D*3T')

[('1', 'S', ''), ('2', 'D', '*'), ('3', 'T', '')]

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120891

In [ ]:
p= re.compile('[369]')
result = p.findall('29423')
print(result)

['9', '3']

In [ ]:
import re

def solution(order):
    p = re.compile('[369]')
    return len(p.findall(str(order)))

In [ ]:
def solution(order):
    count = 0
    for i in str(order):
        if i == '3' or i == '6' or i == '9':
            count += 1
    return count

In [ ]:
def solution(order):
    count = 0
    for i in str(order):
        if i == '3':
            count += 1
        elif i == '6':
            count += 1
        elif i == '9':
            count += 1
    return count

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120913

In [ ]:
n = 3
s = 'ab33202i3tgjf1'

for i in range(0, len(s), n):
    print(s[i:i+n])

# str에 slicing 경우 out of range error가 발생하지 않습니다.

ab3
320
2i3
tgj
f1

In [ ]:
def solution(my_str, n):
    result = []
    for i in range(0, len(my_str), n):
        result.append(my_str[i:i+n])
    return result

In [ ]:
def solution(my_str, n):
    return [my_str[i:i+n] for i in range(0, len(my_str), n)]

solution('ab33202i3tgjf1',3)

['ab3', '320', '2i3', 'tgj', 'f1']

In [ ]:
import re

re.findall('.{1,4}', 'ab33202i3tgjf1')

['ab33', '202i', '3tgj', 'f1']

In [ ]:
import re

re.findall('.{4}', 'ab33202i3tgjf1')

['ab33', '202i', '3tgj']

In [ ]:
# python에서 {를 넣기 위해선 {{를 사용하여야합니다.

import re

def solution(my_str, n):
    return re.findall(f'.{{1,{n}}}', my_str)

# f-string 용법에서 중괄호를 문자열 그대로 표현하기 위해서
# 이스케이프 문자를 사용하지 않습니다.
# 중괄호 2개를 사용합니다.

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120894

In [ ]:
import re

re.findall('')

In [ ]:
d = {
    'zero': 0,
    'one': 1,
    'two': 2,
    'three': 3,
    'four': 4,
    'five': 5,
    'six': 6,
    'seven': 7,
    'eight': 8,
    'nine': 9
}
l = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

s = ''
for i in l:
    s += str(d[i])
s
int(s)

123456789

In [ ]:
d = {
    'zero': 0,
    'one': 1,
    'two': 2,
    'three': 3,
    'four': 4,
    'five': 5,
    'six': 6,
    'seven': 7,
    'eight': 8,
    'nine': 9
}
l = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
''.join([str(d[i]) for i in l])

In [ ]:
d = {
    'zero': 0,
    'one': 1,
    'two': 2,
    'three': 3,
    'four': 4,
    'five': 5,
    'six': 6,
    'seven': 7,
    'eight': 8,
    'nine': 9
}
l = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
# list(map(lambda x:str(d[x]), l))
''.join(map(lambda x:str(d[x]), l)) # join 뒤에도 이터러블 객체가 옵니다.

In [ ]:
import re

def solution(numbers):
    s = ''
    d = {
        'one':   '1',
        'two':   '2',
        'three': '3',
        'four':  '4',
        'five':  '5',
        'six':   '6',
        'seven': '7',
        'eight': '8',
        'nine':  '9',
        'zero':  '0',
    }
    for i in re.findall(r'(zero|one|two|three|four|five|six|seven|eight|nine)', numbers):
        s += d[i]
    return int(s)

## finditer
* 정규식과 매치되는 모든 문자열을 반복 가능한 객체로 리턴한다.

In [ ]:
p = re.compile('.{4}')
result = p.finditer('dsgfa235235sd43gasdg235asdgsg')

<callable_iterator object at 0x7fc27cc4ae00>

## split
* 정규표현 패턴으로 문자열을 분한(str에 spilt과 같은 역할)

In [ ]:
import re

s = '010-5000!3000'
re.split(r'[-!]',s)

['010', '5000', '3000']

In [ ]:
text = '''
<!DOCTYPE html>
<html lang="ko">
<head>
    <title>hello title</title>
</head>
<body>
    <h1>hello h1</h1>
    <p>hello p</p>
</body>
</html>
'''


text.split('>')

['\n<!DOCTYPE html',
 '\n<html lang="ko"',
 '\n<head',
 '\n    <title',
 'hello title</title',
 '\n</head',
 '\n<body',
 '\n    <h1',
 'hello h1</h1',
 '\n    <p',
 'hello p</p',
 '\n</body',
 '\n</html',
 '\n']

In [ ]:
import re

text = '''
<!DOCTYPE html>
<html lang="ko">
<head>
    <title>hello title</title>
</head>
<body>
    <h1>hello h1</h1>
    <p>hello p</p>
</body>
</html>
'''

result = re.split(r'<[^<>]*>', text)
list(filter(lambda x:x !='\n', map(lambda x:x.strip(), result)))

['',
 '',
 '',
 '',
 'hello title',
 '',
 '',
 '',
 'hello h1',
 '',
 'hello p',
 '',
 '',
 '']